:root {

}



.customJumbo {
    background-color: brown;
    justify-content: center;
}

.customJumbo img {
    max-width: 300px;
}


.web-dev{
    justify-content: center;
}

/* Typography */
.name {
font-size: 5rem
}

.customJumbo {
    color: antiquewhite;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;}

.main-section {
    width: 85%;
    margin: 0 auto;
    justify-content: center;
}

.section-header {
    text-align: center;
}