:root {
--headerDark: #283618;
--headerLight: #DDA15E;
--main1: #606C38;
--main2: #BC6C25;
--lightColor: #FEFAE0;
}

.customNav {
    background-color: var(--);
}


.customJumbo {
    background-color: var(--mainDark);
    justify-content: center;
    background: url(https://static.vecteezy.com/system/resources/previews/001/431/920/original/abstract-green-background-free-vector.jpg);
}

.customJumbo img {
    max-width: 300px;
}


.web-dev{
    justify-content: center;
}


.name {
font-size: 5rem
}

.customJumbo {
    color: var(--mainLight);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;}





.section-header {
    text-align: center;
    padding: 30px;
}



body {
    background-color: var(--mainLight);
    font-family: Arial, Helvetica, sans-serif;
}


.about {
    justify-content: space-around;
    margin: 15vw auto;
}


.skills {
    justify-content: center;
}

.custom-card {
    margin: 1vw;
    background-color: var(--mainLight);
    border-radius: 15px;
}

.projects {
    padding-bottom: 50px;
    justify-content: center;
    background-color: var(--mainDark);
}

.contacts {
    justify-content: space-evenly;
    margin-bottom: 20px;
}

/* ---------- Footer -------------- */

footer img {
    max-width: 100px;
}