:root {
--headerDark: #283618;
--headerLight: #DDA15E;
--main1: #606C38;
--main2: #BC6C25;
--lightColor: #FEFAE0;
}

.customNavbar {
    background-color: var(--headerLight);
}
 
nav a {
    border-radius: 5px;
    color: var(--headerDark);
}
nav a:hover {
    background-color: var(--headerDark);
    color: var(--lightColor);
}


.customJumbo {
    background-color: var(--mainDark);
    justify-content: center;
    background: url(https://t3.ftcdn.net/jpg/04/87/28/94/360_F_487289428_cf0CSd7i3R0FrDdyl7rEawy1h1WmUbWp.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.customJumbo img {
    max-width: 300px;
}


.web-dev{
    justify-content: center;
}

header h1, p {
    color: var(--headerLight);
}

.name {
font-size: 5rem
}

.customJumbo {
    color: var(--mainLight);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;}





.section-header {
    text-align: center;
    padding: 30px;
}



body {
    background-color: var(--lightColor);
    font-family: Arial, Helvetica, sans-serif;
}


.about {
    justify-content: space-around;
    margin: 15vw auto;
}


.skills {
    justify-content: center;
}

.custom-card {
    margin: 1vw;
    background-color: var(--mainLight);
    border-radius: 15px;
}

.projects {
    padding-bottom: 50px;
    justify-content: center;
    background-color: var(--mainDark);
}

.contacts {
    justify-content: space-evenly;
    margin-bottom: 20px;
}

/* ---------- Footer -------------- */

footer img {
    max-width: 100px;
}